# Node.js
node_modules/
package-lock.json

# Build directories
dist/
build/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Python
venv/
__pycache__/
*.pyc
*.pyo

# SQLite database
db.sqlite3

# Docker
*.dockerignore
Dockerfile
docker-compose.yml
